<div>
    <h1 mat-dialog-title> Adicionar Cliente <span style="margin-left: 69%;">
        <button mat-mini-fab color="warn" mat-dialog-close><mat-icon>clear</mat-icon></button>
        </span>
    </h1>
</div>

<div mat-dialog-content>

    <form [formGroup]=formClienteAdd (submit)="salva()">
        <div class="row">
            <mat-form-field class="col-6">
                <mat-label>Nome:</mat-label>
                <input matInput type=text formControlName="nome" >
            </mat-form-field>

            <mat-form-field class="col-6">
                <mat-label>Cpf:</mat-label>
                <input matInput type=text  mask ="000.000.000-00" formControlName="cpf">
            </mat-form-field>
        </div>
    
         <div formGroupName="endereco">
            <div class="row">
                <mat-form-field class="col-4">
                    <mat-label>Cep:</mat-label>
                    <input matInput  mask="00.000-000" formControlName="cep" [(ngModel)]="cep" (blur)="buscaEnderecoPorCep()">
                </mat-form-field>
    
                <mat-form-field class="col-4">
                    <mat-label>Logradouro:</mat-label>
                    <input matInput type=text formControlName="logradouro">
                </mat-form-field>
    
                <mat-form-field class="col-4">
                    <mat-label>Bairro:</mat-label>
                    <input matInput type=text formControlName="bairro">
                </mat-form-field>
                
            </div>

            <div class="row">
                <mat-form-field class="col-4">
                    <mat-label>Cidade:</mat-label>
                    <input matInput type=text formControlName="cidade">
                </mat-form-field>
    
                <mat-form-field class="col-4">
                    <mat-label>Uf:</mat-label>
                    <input matInput type=text formControlName="uf">
                </mat-form-field>
    
                <mat-form-field class="col-4">
                    <mat-label>Complemento:</mat-label>
                    <input matInput type=text formControlName="complemento">
                </mat-form-field>
                
            </div>
         </div>
         
         <div>
            <!-- <button  type="button" class="mb-2" style="right: -3%;" mat-raised-button color="primary" ><mat-icon>add</mat-icon></button> -->
            <div formArrayName="telefones">
              <ng-container [formGroupName]="i" *ngFor="let item of telefonesFormArray.controls; let i = index">
                  <div [formGroup]="item">
                      
                        <div class="row ">
                            <div class="col-1" >
                                <button type="button" class="mt-1" mat-mini-fab color="primary" (click)="adicionaTelefone()"
                                  [disabled]="!item.valid">
                                  <mat-icon >add</mat-icon>
                                </button>
                              </div>
                            <mat-form-field class="form-group col-3" >
                                <mat-label>Tipo Telefone</mat-label>
                                <mat-select formControlName="tipotelefone">
                                   <mat-option value=1>Residencial</mat-option>
                                   <mat-option value=2 >Comercial</mat-option>
                                   <mat-option value=3 >Celular</mat-option>
                                  </mat-select>
                              </mat-form-field>
                              
                            <mat-form-field class="col-3">
                                <mat-label>DDD:</mat-label>
                                <input matInput type=text formControlName="ddd">
                            </mat-form-field>
    
                            <mat-form-field class="col-4">
                                <mat-label>Número:</mat-label>
                                <input matInput type=text formControlName="numerotelefone" [mask]="getTelefoneMask(item?.value.numerotelefone)">
                            </mat-form-field>

                            <div class="col-1" *ngIf="telefonesFormArray.length!=1">
                                <button type="button" class="mt-1" mat-mini-fab color="warn" (click)="removeTelefones(i)">
                                  <mat-icon >remove</mat-icon>
                                </button>
                              </div>
                        </div>
                  </div>
              </ng-container>      
           </div>
          </div>
       

          <div>
            <!-- <button  type="button" class="mb-2" style="right: -3%;" mat-raised-button color="primary" ><mat-icon>add</mat-icon></button> -->
            <div formArrayName="emails">
              <ng-container [formGroupName]="i" *ngFor="let item of emailsFormArray.controls; let i = index">
                  <div [formGroup]="item">
                      
                        <div class="row"> 
                            <div class="col-1" >
                                <button type="button" class="mt-1" mat-mini-fab color="primary" (click)="adicionaEmail()"
                                  [disabled]="!item.valid">
                                  <mat-icon >add</mat-icon>
                                </button>
                              </div>                                                                    
                            <mat-form-field class="col-10">
                                <mat-label>Email:</mat-label>
                                <input matInput type=text formControlName="endereco">
                            </mat-form-field>

                            <div class="col-1" *ngIf="emailsFormArray.length!=1">
                                <button type="button" class="mt-1" mat-mini-fab color="warn" (click)="removeEmail(i)">
                                  <mat-icon >remove</mat-icon>
                                </button>
                              </div>
                        </div>
                            
                  </div>
              </ng-container>      
           </div>
          </div>

          <div class="container">
            <div class="botoes">
              <button id="btn-basic" mat-raised-button type="button"  color="basic" (click)="limpaForm()">Limpar</button>
              <button mat-raised-button type="submit"  color="primary" 
                [disabled]="formClienteAdd.invalid">Salvar</button>
            </div>
          </div>
    </form>
</div>
